parameters:
    level: max
    paths:
        - src
        - tests
    excludes_analyse:
        - vendor
    ignoreErrors:
        - '#.*?expects League\\OAuth2\\Client\\Token\\AccessToken, League\\OAuth2\\Client\\Token\\AccessTokenInterface given\.#'
        - '#.*?Application::rebinding\(\)\.#'
