includes:
	- phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#.*?expects League\\OAuth2\\Client\\Token\\AccessToken, League\\OAuth2\\Client\\Token\\AccessTokenInterface given\.#'
        - '#.*?Application::rebinding\(\)\.#'
